<html>
    <head>
        <title>Games shop</title>
    </head>
	<body bgcolor="#acac8f">
	<center>
	<p>Games list<p>
	<table>
	<tr>
	<th>No</th>
	<th>Name</th>
	</tr>
	<tr th:each="gam,i : ${games}">
	<td th:text="${i.count}">1</td>
	<td><form action="#" th:action="@{/game/} + ${gam.id}" method="post">
	<input type="submit" value="@{gam.name}"/></form></td>
	</tr>
	</table>
	<div th:if="${supervisor} == true">
		<p th:if="${error}">Error has occured/p>
		<p>Add new game</p>
		<p><form action="#" th:action="@{/games}" th:object="${game}" method="post">	
		<p>Name : <input type="text" th:field="*{name}" value="name"></p>
		<p>Description : <input type="text" th:field="*{description}" value="description"></p>
		<p>Base : <input type="number" th:field="*{basePrice}" value="basePrice"></p>	
		<p>Available on stock : <input type="number" th:field="*{available}" value=0></p>
		<p>Release : <input type="date" th:field="*{release}" ></p>
		<p>Publisher : <input type="text" th:field="*{publisher}" value="publisher"></p>
		<p th:each="genre : ${genres}">
		<input type="checkbox" name="${genre.name}" th:value="${genre.id}"/>
		<label th:text="${genre.name}"></label>
		</p>
		<p><input type="submit" value="Ok"/>
		<input type ="reset" value="Clear fields"></form></p>
	</div>
	</center>
    </body>
</html>