<html>
    <head>
        <title>Game shop</title>
    </head>
	<body bgcolor="#acac8f">
	<center>
	<div th:if=" ${error} == false">
		<p>Name: <span th:text="${name}">Name</span></p>
		<p>Description : <span th:text="${description}">desc</span></p>
		<p>Price : <span th:text="${price}">price</span></p>
		<p>On stock : <span th:text="${onStock}">onStock</span></p>
		<p>Publisher : <span th:text="${publisher}">onStock</span></p>
		<p>Release date : <span th:text="${Releasedate}">onStock</span></p>
		<p>Genres : <span th:text="${genres}">onStock</span></p>
		<div th:if="${onStock} == true and ${logged} == true and ${supervisor} == false">
			<td><form action="#" th:action="@{/game/add/} + ${id}" method="get">
			<input type="submit" value="Add to cart"/></form></td>		
		</div>
		<div th:if=" ${supervisor} == true">
			<td><form action="#" th:action="@{/game/restock/} + ${id}" method="get">
			<input type="submit" value="Retock"/></form></td>		
		</div>
		</p>
	</div>
	<div th:if=" ${error}  == true ">
	<p>Error</p>
	</p>That game doesn't exist</p>
	</div>
	<p><form action="/">
	<input type="submit" value="Return to main page"/></form><p>
	<p><form action="/games">
	<input type="submit" value="Return to games list"/></form><p>
	</center>
    </body>
</html>