<html>
    <head>
        <title>Games shop</title>
    </head>
	<body bgcolor="#acac8f">
	<center>
	<p>Games list<p>
	<div th:if="${supervisor} == true">
		<table>
		<tr>
		<th>No</th>
		<th>Name</th>
		</tr>
		<tr th:each="gr,i : ${genres}">
		<td th:text="${i.count}">1</td>
		<td th:text="${gr.name}">name</td>
		<td><form action="#" th:action="@{/genres/delete/} + ${gr.id}" method="get">
		<input type="submit" value="Delete"/></form></td>	
		</tr>
		</table>
		<p th:if="${error}">That genre already exists</p>
		<p>Add new game</p>
		<p><form action="#" th:action="@{/genres}" th:object="${genre}" method="post">	
		<p>Name : <input type="text" th:field="*{name}" value="name"></p>
		<p><input type="submit" value="Ok"/>
		<input type ="reset" value="Clear fields"></form></p>
		<p><form action="/settings">
		<input type="submit" value="Return to settings page"/></form><p>
	</div>
	<p><form action="/">
	<input type="submit" value="Return to main page"/></form><p>
	</center>
    </body>
</html>