<html>
    <head>
        <title>Games Shop</title>
    </head>
	<body bgcolor="#acac8f">
	<center>
	<p>Welcome to Games Shop!</p>
	<p><form action="/games">
	<input type="submit" value="Games List"/></form>
	<form action="/products">
	<input type="submit" value="Other products List"/></form></p>
		
	<p>
	<div th:if="${logged} == false">
		<form action="/login">
		<input type="submit" value="Log in"/></form>
	</div>

	<div th:if="${logged} == true">
		<form action="/logout">
		<input type="submit" value="Logout"/></form>
		<form action="/orders">
		<input type="submit" value="Orders"/></form>
		<div th:if="${supervisor} == true">
			<form action="/settings">
			<input type="submit" value="Supervisor page"/></form>
		</div>
		<div th:if="${supervisor} == false">
			<form action="/cart">
			<input type="submit" value="Cart"/></form>
		</div>
	</div>
	</p>
	</center>
    </body>
</html>